@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    height: 100vh;
}